if has nix; then
	use flake .
fi

export CARGO_TERM_QUIET=true
export NEXTEST_STATUS_LEVEL=fail
export NEXTEST_FAILURE_OUTPUT=immediate-final
export NEXTEST_HIDE_PROGRESS_BAR=1

source_env_if_exists .envrc.private
